{% extends 'catalog/base.html' %}

{% block title %}<title>Home-Local Library</title>{% endblock %}

{% block content %}
<h1>Local Library Home</h1>
<h2>Dynamic Content of Library:</h2>
<p>The Library has the following record counts:</p>
<ul>
    <li><strong>Books: </strong>{{ num_books }}</li>
    <li><strong>Copies: </strong>{{ num_instances }}</li>
    <li><strong>Copies Available: </strong>{{ num_instances_available }}</li>
    <li><strong>Authors: </strong>{{ num_authors }}</li>
    <li><strong>Genres: </strong>{{ num_genres }}</li>
    <li><strong>Books containing 'the': </strong>{{ num_contains_the }}</li>
</ul>
<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}
